# Automatically created by: scrapy startproject
#
# For more information about the [deploy] section see:
# https://scrapyd.readthedocs.org/en/latest/deploy.html

[settings]
default = bus8684.settings

[deploy:bus8684]
url = http://localhost:6800/
#username = pengyi
#password = 123456
project = bus8684
